<div class="container">

        <br/>
        <br/>
        <div class="panel-group" id="accordion">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#GuideOne">视频指南{{new}}</a>
              </h4>
            </div>
            <div id="GuideOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked span2">
                    <li><a href="#/nav/problem1">印美图机硬件组装教程</a></li>
                    <li><a href="#/nav/problem0">打印质量不佳、横纹、偏色处理</a></li>
                    <li><a href="#/nav/problem2">打印相片空白、缺色处理</a></li>
                    <li><a href="#/nav/problem3">相纸沾墨、内容歪了处理</a></li>
                    <li><a href="#/nav/problem4">检查缺墨墨盒操作</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div> <!--End of menu-->

    </div> <!-- /container -->