<div style="margin-top: 10px; margin-bottom: 0px;height:4px; background-color:gray"/> </div>
<div style="width:100%; background-color: rgb(245, 245, 245);">
<div class="container" style="padding:0px; margin-top: 0px;  border-radius: 4px;font-size: 12px;">
    <!-- <footer class="footer">
        <p class="pull-right"><a href="#">回到顶端</a></p>
        <h4> 点艺数码 </h4>
    </footer> -->

	<!-- <div class="row" style="font-size:20px; height:80px; color: rgb(128, 129, 131);margin-top: 20px;padding-left:30px">
		<span class="span4" style="margin:0px;padding:0px 0 0 10px;"> <img src="/static/images/index/phone.png" style="border-radius: 4px;"/> &nbsp&nbsp020-38621979 </span>
		<span class="span4" style="margin:0px;padding:0px 0 0 10px;"> <img src="/static/images/index/qq.png" style="border-radius: 4px;"/>&nbsp&nbsp1902935253 </span>
		<span class="span4" style="margin:0px;padding:0px 0 0 10px;"> <img src="/static/images/index/email.png" style="border-radius: 4px;"/>&nbsp&nbspcgtianxia@163.com </span>
	</div> -->
	<div class="span12" id="span12" style="margin-top: 20px; font-size: 13px;">
		<div class="span2" id="span2" style="margin:2px;">
			<h5>基础课程</h5>
			<ul class="unstyled">
				<li> <a href="#"> <a href="#"> 3D基础应用班 </a> </li>
				<li> <a href="#"> CAD施工图 </a> </li>
				<li> <a href="#"> Sketchup快速表现班 </a> </li>	
			</ul>
		</div>
		<div class="span2" id="span2" style="margin:2px;">
			<h5>建筑表现</h5>
			<ul class="unstyled">
			<li> <a href="#"> 3D基础应用班 </a> </li>
			</ul>
		</div>
		<div class="span2" id="span2" style="margin:2px;">
			<h5>平面产品</h5>
			<ul class="unstyled">
			<li> <a href="#"> 3D基础应用班 </a> </li>
			<li> <a href="#"> CAD施工图 </a> </li>
			<li> <a href="#"> Sketchup快速表现班 </a> </li>
			</ul>	
		</div>
		<div class="span2" id="span2" style="margin:2px;">
			<h5>学生作品</h5>
			<ul class="unstyled">
			<li> <a href="#"> 3D基础应用班 </a> </li>
			<li> <a href="#"> CAD施工图 </a> </li>
			<li> <a href="#"> Sketchup快速表现班 </a> </li>	
			</ul>
		</div>
		<div class="span2" id="span2" style="margin:2px;">
			<h5>精品教程</h5>
			<ul class="unstyled">
			<li> <a href="#"> 3D基础应用班 </a> </li>
			<li> <a href="#"> CAD施工图 </a> </li>
			<li> <a href="#"> Sketchup快速表现班 </a> </li>	
			</ul>
		</div>
		<div class="span2" id="span2" style="margin:2px;">
			<h5>报名须知</h5>
			<ul class="unstyled">
			<li> <a href="#"> 3D基础应用班 </a> </li>
			<li> <a href="#"> CAD施工图 </a> </li>
			<li> <a href="#"> Sketchup快速表现班 </a> </li>	
			</ul>
		</div>
	</div>
	<div class="span12" id="span12" style="margin-top: 30px; text-align:center; font-size:13px;">
		<span> <abbr title="Phone">联系我:</abbr> 0789-12121212</span> <br />
		<address> 地址：广州市&nbsp&nbsp海珠区&nbsp&nbsp丽影广场C区B座901室(地铁客村站C出口)
		 <br /><span> 2010-2013&nbsp&nbsp&nbsp&nbsp点艺数码&nbsp&nbsp版权所有|粤ICP备110343398号-1</span></address>
		
	</div>
</div>
</div>