{% extends 'base.htm' %}

{% block content %}
<div class="container" style="margin-bottom: 10px;">

	<div class="span12" style="border-radius: 4px; padding:5px; margin-bottom: 20px; margin-left: 0px; border-bottom: 1px dashed #EAEAEA" id="span12">
		<img class="span2 img-circle" style="min-width: 90px; height: 131px" src="/static/images/mr_he.png" id="span2" />
		<div class="span6" id="span6">
			<h4 class="h4_title"><span class="" style="font-size:16px; margin-top: 20px;"> 何亮 </span> &nbsp&nbsp&nbsp&nbsp<small>室内设计组、建筑表现组教学主管</small></h4>
			<br/>
			<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp何亮老师擅长建筑动画、室外表现、室内设计项目制作。多年的一线制作经验和教学经验，坚持“实用、专业、高效”的教学理念，使其在高校同学中拥有良好的口碑，所带班级的同学在设计行业拥有良好的就业率。</span><br/>
			
		</div>
		<div class="span3" id="span3">
			<iframe width="100%" height="140" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2121787790&verifier=64e7ae81&dpc=1"></iframe>
		</div>
	</div>


	<div class="span12" style="border-radius: 4px; padding:5px; margin-bottom: 20px; margin-left: 0px; border-bottom: 1px dashed #EAEAEA" id="span12">
		<img class="span2 img-circle" style="min-width: 90px; height: 131px" src="/static/images/mr_li.png" id="span2"/>
		<div class="span6" id="span6">
			<h4 class="h4_title"><span class="" style="font-size:16px; margin-top: 20px;"> 李中新 </span>&nbsp&nbsp&nbsp&nbsp<small>平面广告组教学主管</small></h4>
			<br/>
			<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp李中新老师擅长领域品牌广告设计。拥有长达九年丰富的广告设计实战经验和多年培训授课经验，具备扎实的设计功底和大量的实战作品资源，将多年的设计工作经验与细致全面的课程相结合，让学生轻松学习软件的同时快速掌握设计技巧。 </span><br/>
		</div>
		<div class="span3" id="span3">
			<iframe width="100%" height="140" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2616843433&verifier=56a6017b&dpc=1"></iframe>
		</div>
	</div>

	<div class="span12" style="border-radius: 4px; padding:5px; margin-bottom: 20px; margin-left: 0px; border-bottom: 1px dashed #EAEAEA" id="span12">
		<img class="span2 img-circle" style="min-width: 90px; height: 131px" src="/static/images/mr_chen.png" id="span2"/>
		<div class="span6" id="span6">
			<h4 class="h4_title"><span class="" style="font-size:16px; margin-top: 20px;"> 陈力 </span>&nbsp&nbsp&nbsp&nbsp<small>产品造型教学主管</small></h4>
			<br/>
			<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp陈力老师擅长产品造型设计和珠宝造型设计。2005年至2013年先后在广州雅之琪饰品有限公司和广州金汇首饰有限公司担任设计总监之职。拥有非常丰富的实战经验，善于拓展同学的思维，举一反三，轻松的掌握软件的运用技巧和培训设计思维。</span><br/>
		</div>
		<div class="span3" id="span3">
			<iframe width="100%" height="140" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2121787790&verifier=64e7ae81&dpc=1"></iframe>
		</div>
	</div>
</div>	
{% endblock %}

{% block footer %}
    {% include 'footer.htm' %}
{% endblock %}