<html>
<head>
	<title>user register</title>
	<link href="../static/ibase.css" rel="stylesheet"></link>
	<style type="text/css"></style>
</head>
<body>
	<div class="icontainer">
		<div class="register">
			<h4> User Register </h4>
			<form id="registerForm">
				<label>User</label> <input type="text" name="username" />
				<br/>
				<label>Password</label> <input type="password" name="password" />
				<br/>
				<input type="submit" name="submit" id="register">
			</form>
		</div>
	</div>
	<script src="/static/jquery-1.8.3.min.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script> 
	<script src="/static/base.js"></script>
</body>
</html>