<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>littleknife's zoon</title>
    <link rel="stylesheet" href="/static/css-foundation/foundation.css" />
    <link rel="stylesheet/less" href="/static/css-foundation/style.less" />
    <script src="/static/js-foundation/modernizr.js"></script>
    <script src="/static/js-foundation/less-1.5.0.min.js"></script>
</head>
<body>
	<div class="row main">
		<span class="label username">{{username}}</span>
		<span class="label online-num">{{onlineNum}}</span>
		<button id="send">Click</button>
		<span class="sysinfo"></span>
	</div>
	<script src="/static/js-foundation/jquery.js"></script>
    <script src="/static/js-foundation/foundation.min.js"></script>
    <script src="/static/js-foundation/angular.js"></script>
    <script src="/static/message.js"></script>
</body>
</html>